/*.flex-container {*/
    /*display: flex;*/
/*}*/

html {
    height: 100%;
    box-sizing: border-box;
}
body {
    font-family: Trebuchet MS;
    margin: 0;
    height: 100%;
}

header {
    background: linear-gradient(#a3e8a3, rgb(72, 181, 72));
    padding: 0.5em;
    font-size: 2em;
    border-bottom: rgb(40, 123, 29) solid 2px;
}

h2 {
}

main {
}

.centered-content {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

a, a:visited {
    color: rgb(108, 0, 44);
}

form {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: stretch;*/
}

form label {
    display: block;
    margin-bottom: 5px;
    color: rgb(0, 70, 0);
}

form input,
/*form input[type=text],*/
/*form input[type=password],*/
/*form input[type=number],*/
/*form input[type=date],*/
/*form input[type=datetime],*/
form button {
    display: block;
    font-size: 1em;
    padding: 0.4em;
    margin-bottom: 1em;
    border-radius: 0.2em;
}

form .checkbox {
    margin-bottom: 1em;
}

.left-bar {
    height: 100%;
    overflow-y: auto;
    display: block;
    width:25%;
}

.left-bar > * {
    padding: .3em .5em;
}

garden-hub {
    display: flex;
    /*height: calc(100% - 69px);*/
    width: 100%;
    padding:15px;
    background: linear-gradient(90deg, rgb(72, 181, 72), #a3e8a3);
    border-top: solid rgba(0, 0, 0, 0.17) 3px;
    box-sizing: border-box;
}

bloom-table {
    display: table;
    border: rgb(90, 123, 44) solid 0px;
}

bloom-cell, bloom-row, bloom-header, bloom-tbody {
    border:inherit
}

bloom-cell {
    display: table-cell;
    max-width: 120px;
    padding: 10px;
    overflow: hidden;
    border-right-width: 3px;
}

bloom-cell:first-child {
    border-left-width: 3px;
}

bloom-row {
    display: table-row;
    text-align: right;
    border-bottom-width: 2px;
    cursor:pointer;
}

bloom-header {
    display: table-row;
    font-weight: bold;
    text-align: center;
    border-top-width: 3px;
    border-bottom-width: 3px;
}

bloom-tbody {
    display: table-row-group;
}

bloom-row:nth-child(even) {
    background-color: #CAF2CA;
}

bloom-row:hover {
    background-color: #FFECAE;
}

content-wrapper {

}

content {
    width: 75%;
    overflow: auto;
    display: block;
    box-sizing: border-box;
}

.panel {
    padding:15px;
    background: rgb(255, 255, 250);
    border-radius: 7px;
    border: rgba(202, 246, 202, 0.53) solid 2px;
    margin-left:15px;
}

.panel:first-child {
    margin-left:0px;
}

.edit-form {
    padding: 20px;
}

.bloom-button-list {
    display: flex;
}

.bloom-button-list button {
    margin-right: 10px;
}

textarea {
    width: 450px;
    resize: none;
    height: 200px;
    /*height: 500px;*/
}