.flex-container {
  display: flex;

}


body {
  .flex-container;
  font-family: Trebuchet MS;
  flex-direction:column;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

header {
  background-color: rgb(163, 232, 163);
  padding: 0.5em;
  font-size: 2em;
}

main {
  flex-grow: 1;
}

.centered-content {
  .flex-container;
  justify-content: center;
  align-items: center;
}

form {
  input[type=text] {
    display: block;
  }
}